<h1>投稿一覧</h1>
<% @books.each do |book| %>

  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile %></p>

  <p>タイトル</p>
  <span>
    <%= book.title %>
  </span>
  
  
  <p>画像</p>
  <% if book.image.attached? %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <table class="table table-striped">

<% end %>
